.App {
  text-align: center;
}

.div-ex {
  padding-left: 1.5rem/* 24px */;
  padding-right: 1.5rem/* 24px */;
  align-items: flex-start;
  font-family: Montserrat;
  
  --tw-bg-opacity: 1;
  background-color: rgb(201 228 235 / var(--tw-bg-opacity));


  @media (min-width: 768px) {
        width: 100%;

        height: auto;
    
  }
}

.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #00494D;
  color: #ffcd99;
  font-family: sans-serif;
  width: 100%;
  height: 70px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  }

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-div {
  align-items: center;
  justify-content: space-between;
  margin-left: 10rem;
  width: 100%;  
}

.align-center {
  align-items: center;
  
}

.nav-list {
  display: flex;
  flex-direction: row;
  place-content: space-between;
  width: 70%;
  align-items: center;
}

.nav-list li {
  display: block;
  align-self: center;
  color: var(--white, #FFFFED);
  font-family: Fira Code;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  padding-bottom: 4px; /* Adjust this value to control the height of the underscore */
  text-decoration: none;
  margin-right: 35px;
}

.nav-list li em {
  color: var(--primary, #FF8A44);
  font-family: Fira Code;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-list li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  border-radius: 25px;
  height: 4px; /* Adjust this value to control the thickness of the underscore */
  background-color: #FF6A3D; /* Adjust this value to change the color of the underscore */
  transition: width 0.3s ease-in-out; /* Adjust the animation speed as needed */
}

/* Add hover effect to the list items */
.nav-list li:hover::after {
  width: 100%;
}

.gh-icon {
  border-width: 1rem;
  border-color: white;
}


.about-div {
  background-color: #00494D;
  color: #032031;
  height: 90vh;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 200;
}



.about-par{
  color: var(--gray, #BDFFEF);
  font-family: Fira Code;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
  padding-left: 4rem;
  
}

.about-h1 {
  width: auto;
  margin-bottom: 2rem;
  color: var(--white, #FFFFED);
  font-family: Fira Code;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 4rem;
  
}

.about-h1 em {
  color: var(--primary, #FF8A44);
  font-family: Fira Code;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.about-image {
  width: 70vh;
  height: 70vh;
}

.about-button {
  margin-top: 1rem;
  display: inline-flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid var(--primary, #FF8A44);
  margin-left: 4rem;

  color: var(--white, #FFFFED);
  font-family: Fira Code;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.aside-1 {
  background-color: white;
}
h1 {
  font-size: 1.25rem/* 20px */;
  line-height: 1.75rem/* 28px */;
  
  @media (min-width: 768px) {  
    font-size: 3.75rem/* 60px */;
    line-height: 1;
    width: 25%;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-left: 1rem/* 16px */;
  margin-right: 1rem/* 16px */;
  margin-bottom: 1rem/* 16px */;
  width: auto;

  @media (min-width: 768px) {
    font-size: 2.25rem/* 36px */;
    line-height: 2.5rem/* 40px */;
  }
}

.get-together-text {
  margin-right: 6rem;
  width: 40%;

  @media (max-width: 768px) {
    margin-right: 1rem;
    margin-left: 0.5rem;
  }
}

.row-div {
  display: flex;
  flex-direction: row;
}

.col-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.tech-div {
  height: 70vh;
  background-color: #FFFFED;
}

.contact-div {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  background-color: #d2dada;
}

.tech-head {
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 8vh;
  color: #172D13;
  margin-left: 5rem;
}

.tech-h2 {
  align-items: center;
  font-weight: 400;
  font-size: 4vh;
  color: #00494D  ;
  margin-left: 5rem;
}

.proj-div {
  background-color: #F4DB7D;
  align-items: center;
  justify-content: center;
}

.blog-div {
  background-color: #F4DB7D;
  align-items: center;
  justify-content: center;
}

.proj-display {
  background-image: linear-gradient(to right, #9b84e0, #6633ff);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-color: black;
  border-width: 1px;
  height: 25rem;
  width: 35rem;
  margin: 2rem;
  border-radius: 25px;
  text-align: center;

  /* how should I display this in mobile???*/
  @media (max-width: 768px) {
    height: 10rem;
    width: 10rem;
  }
}

.proj-list-item {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-weight: normal; /* Set the default font-weight */
  transition: font-weight 0.3s ease; /* Add a transition for a smooth effect */
  transition: background-color 0.3 ease;
  background-color: #ee82ee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
}

.proj-list-item:hover{
  font-weight: bold; 
  cursor: pointer;
  background-color: #e963e9;
}

.selected {
  font-weight: bold; 
}

.form-div {
  width: 60%;
  margin: 1rem;
}

.card {
  width: 320px;
  height: 200px;
  padding: 20px;
  color: rgb(92, 96, 109);
  background: linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 0.5px solid transparent;
  border-radius: 8px;
  border-color: #000000;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform-origin: right bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.blur{
  filter: blur(4px);
}

.card .main-content {
  flex: 1;
}

.card .header span:first-child {
  font-weight: 600;
  color: #111111;
  margin-right: 4px;
}

.card .heading {
  font-size: 20px;
  margin: 12px 0 16px;
  font-weight: 600;
}

.card .categories {
  display: flex;
  gap: 8px;
}

.card .categories span {
  background-color: #e81cff;
  padding: 4px 8px;
  font-weight: 600;
  font-size: 12px;
  border-radius: 50em;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px; /* Adjust the gap between divs as needed */
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.sideButton {
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
  color: #BDFFEF;
  font-size: x-large;
  border-color: #BDFFEF;
  border-width: 2px;
  border-radius: 50%;
  opacity: 0.7;
}


.sideButton:hover {
  opacity: 1;
}


.sideButtonGroup {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 100px;
  padding-top:20px;
  background-color: #00494D;
  padding-left: 7px;
  padding-right: 10px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.side-icon {
  width: 50px;
  height: 50px;
}

.side-icon-linkedin {
  width: 50px;
  height: 40px;
  
}

.logo {
  max-height: 4rem;
  max-width: 4rem;
  margin: auto;
}

.logo:hover {
  animation: logoAnimation 0.5s ease-in-out forwards;
}

@keyframes logoAnimation {
  0% {
      transform: scale(1);
  }
  
  100% {
      transform: scale(1.3);
  }
}

.logo-div {
  display: grid;
  width: 60%;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.color2 { 
  fill: #00494D;
}

.separator {
  background-color: #00494D;
}

.name-logo {
  color: var(--white, #FFFFED);
  font-family: Fira Code;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-seperator-container {
  background-color: #00494D;

}
.section-seperator {
  display: flex;
  align-items: center;
  color: #FFFFED;
  font-family: Fira Code;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 701px;
  gap: 16px;
  margin-left: 171px;
}

.section-seperator em {
  color: var(--primary, #FF8A44);
  font-family: Fira Code;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.stroke { 
  height: 10px;
  width: 40%;
  flex: 1 0 0;
}

.skills{
  background-color: #00494D;
  padding: 50px;
  height: fit-content;

}

.boxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  
}

.container {
  display: inline-flex;
  padding: 8px 0px;
  flex-direction: column;
  color: #BDFFEF;
  align-items: flex-start;
  gap: 8px;
  border: 1px solid var(--gray, #BDFFEF);
  /* width: 200px; */
  padding-left: 10px;
  padding-right: 10px;
}

.container:first-child {
  margin-top:20px;
  border-bottom-width: 0px;
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.placeholder {
  align-self: start;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  gap: 15px
}

.free-shapes {
  height: auto;

}