.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.div-ex {
  margin-left: 1rem/* 16px */;
  margin-right: 1rem/* 16px */;
  margin-top: 1rem;
  padding-left: 1.5rem/* 24px */;
  padding-right: 1.5rem/* 24px */;
  border-radius: 0.5rem;
  align-items: flex-start;
  font-family: Montserrat;
  
  --tw-bg-opacity: 1;
  background-color: rgb(201 228 235 / var(--tw-bg-opacity));


  @media (min-width: 768px) {
        width: 100%;

        height: auto;
    
  }
}

h1 {
  font-size: 1.25rem/* 20px */;
  line-height: 1.75rem/* 28px */;
  
  @media (min-width: 768px) {  
    font-size: 3.75rem/* 60px */;
    line-height: 1;
    width: 25%;
  }
}

.skills-div {
  display: flex;
  flex-direction: row;
}

.projects-div {
  display: flex;
  flex-direction: row;
}

.about-div {
  display: flex;
  flex-direction: row;
}

.contact-div {
  display: flex;
  flex-direction: row;
}

.skills-head {
  margin: 2rem;
}

.proj-display {
  background-image: linear-gradient(to right, #9b84e0, #6633ff);
  height: 25rem;
  width: 35rem;
  margin: 2rem;
  border-radius: 25px;
  text-align: center;
}

.proj-list-item {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-weight: normal; /* Set the default font-weight */
  transition: font-weight 0.3s ease; /* Add a transition for a smooth effect */
  transition: background-color 0.3 ease;
  background-color: #ee82ee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
}

.proj-list-item:hover {
  font-weight: bold; 
  cursor: pointer;
  background-color: #e963e9;
}

