.div-ex {
  /* padding-left: 1.5rem; */
  padding-right: 1.5rem/* 24px */;
  align-items: flex-start;
  font-family: Montserrat;
  
  --tw-bg-opacity: 1;
  background-color: rgb(201 228 235 / var(--tw-bg-opacity));


  @media (min-width: 884px) {
        width: 100%;

        height: auto;
    
  }
}

.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #00494D;
  color: #ffcd99;
  font-family: sans-serif;
  width: 100%;
  height: 70px;
  overflow: hidden;
  transition: 0.3s ease-in-out;

}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-div {
  align-items: center;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
  width: 100%;  

  @media (max-width: 844px) {
    margin-left: 1rem;
    margin-right: 0rem;

  }
}

.align-center {
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
  place-content: space-between;
  width: 70%;
  align-items: center;

  @media (max-width: 884px) {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    height: calc(100vh - 77px);
    place-content:initial;
  }
}

.nav-div button {
  display: none;
  
  @media screen and (max-width: 884px) {
    display: block;
    margin-left: 12rem;
  }
}
.navigation-menu {
  margin-left: auto;  
}

.navigation-menu ul {
  padding: 0;
  
  @media screen and (max-width: 884px) {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;

    height: 40vh;
    background-color: #00494D;
    border-top: 1px solid #BDFFEF;
    border-bottom: 1px solid #BDFFEF;
  }
}

.navigation-menu.expanded ul {
  display: flex;
  @media screen and (max-width: 884px) {
    display: block;
    position: fixed;
  }
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;

  @media screen and (max-width: 884px) {
    color: #FFFFED;
    width: 100%;
    padding: 0.5rem 0;
  }
}

.nav-list li {
  display: block;
  align-self: center;
  color: var(--white, #FFFFED);
  font-family: Fira Code;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  padding-bottom: 4px; /* Adjust this value to control the height of the underscore */
  text-decoration: none;
  margin-right: 35px;

  @media screen and (max-width: 884px) {
    text-align: center;
    padding: 5px;
  }
}

.nav-list li em {
  color: var(--primary, #FF8A44);
  font-family: Fira Code;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-list li::after {
  @media  screen and (min-width: 884px) { 
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-radius: 25px;
    height: 4px; /* Adjust this value to control the thickness of the underscore */
    background-color: #FF6A3D; /* Adjust this value to change the color of the underscore */
    transition: width 0.3s ease-in-out; /* Adjust the animation speed as needed */
  }
}

/* Add hover effect to the list items */
.nav-list li:hover::after {
  width: 100%;
}

.gh-icon {
  border-width: 1rem;
  border-color: white; 
}

.about-div {
  background-color: #00494D;
  justify-content: center;
  color: #032031;
  height: 75vh;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 200;

  @media screen and (max-width: 884px) {
    height: 90vh;
  }
}

.about-par{
  color: var(--gray, #BDFFEF);
  font-family: Fira Code;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
  padding-left: 4rem;
  flex-wrap: wrap;
  
  @media screen and (max-width: 884px) {
    padding-left: 1rem;
  }
}

.about-h1 {
  width: auto;
  margin-bottom: 2rem;
  color: var(--white, #FFFFED);
  font-family: Fira Code;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 4rem;
  
  @media screen and (max-width: 884px) {
    padding-left: 1rem;
  }
}

.about-h1 em {
  color: var(--primary, #FF8A44);
  font-family: Fira Code;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.about-image {
  width: 40vh;
  height: 70vh;
  object-fit: scale-down;
  position: none;
  margin-left: 10vh;
  margin-right: 5rem;

  @media screen and (max-width: 885px) {
    visibility: collapse; 
    width: 0px;
  } 
}

.about-img-div {
  @media screen and (max-width: 885px) {
    visibility: collapse; 
    width: 0px;
  } 
}

.about-button {
  margin-top: 1rem;
  display: inline-flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid var(--primary, #FF8A44);
  margin-left: 4rem;

  color: var(--white, #FFFFED);
  font-family: Fira Code;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media screen and (max-width: 768px) {
    margin-left: 1rem;
  }
}

h1 {
  font-size: 1.25rem/* 20px */;
  line-height: 1.75rem/* 28px */;
  
  @media (min-width: 768px) {  
    font-size: 3.75rem/* 60px */;
    line-height: 1;
    width: 25%;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  width: auto;

  @media (min-width: 768px) {
    font-size: 2.25rem/* 36px */;
    line-height: 2.5rem/* 40px */;
  }
}

.row-div {
  display: flex;
  flex-direction: row;
}

.col-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.proj-div {
  background-color: #FFFFED;
  align-items: center;
  justify-content: center;
  height: auto;
  padding-bottom: 50px;
}

.blog-div {
  background-color: #FFFFED;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}

.proj-display {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-color: #00494D;
  border-width: 1px;
  height: 20rem;
  width: 15rem; 
  text-align: center;

  @media screen and (max-width: 768px) {
    width: 40vh; 
  }
}

.contact-div {
  background-color: #FFFFED;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-div {  
  border: 1px solid #00494D;
  border-radius: 25px;
  padding: 1rem;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.form-div input {
  border: 1px solid #00494D;
  padding: 0.3rem;
  margin: 0.3rem;
  width: 100%;
  text-align: start;

}
.form-div textarea {
  border: 1px solid #00494D;
  padding: 0.3rem;
  margin: 0.3rem;
  margin-bottom: 0;
  width: 100%;
  text-align: start;
  
}

.form-div button {
  background-color: #00494D;
  color: #FFFFED;
  padding: 0.25rem;
  margin-top: 1rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  align-items: end;
}
.card {
  width: 320px;
  height: 200px;
  padding: 20px;
  color: rgb(92, 96, 109);
  background: transparent;
  border: 0.5px solid transparent;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-color: #00494D;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform-origin: right bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card .main-content {
  flex: 1;
}

.card .header span:first-child {
  font-weight: 600;
  color: #111111;
  margin-right: 4px;
}

.card .heading {
  font-size: 20px;
  margin: 12px 0 16px;
  font-weight: 600;
}

.card .categories {
  display: flex;
  gap: 8px;
}

.card .categories span {
  background-color: #00494D;
  color: #FFFFED;
  padding: 4px 8px;
  font-weight: 600;
  font-size: 12px;
  border-radius: 50em;
}

.grid-container {
  display: flex;
  justify-content: center;
  flex: row;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.sideButton {
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
  color: #BDFFEF;
  font-size: x-large;
  border-color: #00494D;
  border-width: 2px;
  border-radius: 50%;
  opacity: 0.7;

  @media screen and (max-width: 767px) {
    margin-bottom: 5px;
  }
}

.sideButton:hover {
  opacity: 1;
}

.sideButtonGroup {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 100px;
  padding-top:20px;
  background-color: #00494D;
  padding-left: 7px;
  padding-right: 10px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;

  @media screen and (max-width: 767px) {
    visibility: hidden;

   }
}

.side-icon {
  width: 50px;
  height: 50px;
}

.side-icon-linkedin {
  width: 50px;
  height: 40px;
}

.logo {
  max-height: 4rem;
  max-width: 4rem;
  margin: auto;
}

.logo:hover {
  animation: logoAnimation 0.5s ease-in-out forwards;
}

@keyframes logoAnimation {
  0% {
      transform: scale(1);
  }
  
  100% {
      transform: scale(1.3);
  }
}

.logo-div {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-items: space-around;
  gap: 8px;

  @media screen and (max-width: 844px) {
    gap: 30px
  }
}

.color2 { 
  fill: #00494D;
}

.separator {
  background-color: #FFFFED;
}

.name-logo {
  color: var(--white, #FFFFED);
  font-family: Fira Code;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-seperator-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 7rem;
  background-color: #FFFFED;

  @media (max-width: 884px) {
    margin-left: 10px
  }
  
}

.section-seperator {
  display: flex;
  align-items: center;
  color: #00494D;
  font-family: Fira Code;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 80%;
  gap: 16px;

}

.section-seperator em {
  color: var(--primary, #FF8A44);
  font-family: Fira Code;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.stroke { 
  height: 10px;
  width: 40%;
  flex: 1 0 0;
}

.skills{
  background-color: #FFFFED;
  height: fit-content;
  padding-bottom: 50px;
  padding-top: 50px;

}

.boxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  
}

.container {
  display: inline-flex;
  padding: 8px 0px;
  flex-direction: column;
  color: #00494D;
  align-items: flex-start;
  gap: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

.skills-div {
  justify-content: center;
  gap: 100px;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;

  @media (max-width: 884px) {
    flex-direction: column;
    gap: 10px
  }
}

.skills-div .skills-mobile {
  @media (max-width: 884px) {
    display: flex;
    flex-direction: column;
    gap: 5px
  }
}

.container:first-child {
  margin-top:20px;
  border-bottom-width: 0px;
}

.container .highlight {
  background: linear-gradient(120deg, rgba(255, 138, 68, 0.5) 0%, rgba(255, 138, 68, 0.5) 100%);
  background-repeat: no-repeat;
  background-size: 100% 40%;
  background-position: 0 90%;
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.placeholder {
  align-self: flex-start;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  gap: 15px
}

.cube {
  width: 200px;
}

.proj-container {
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.proj-img { 
  width: 100%;
  height: 40%;
  object-fit: cover;
  object-position: center;   
  border-bottom: 1px solid var(--gray, #00494D);
  
}

.proj-att {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  justify-content: flex-start;
  width: 100%;

}

.single-att {
  color: #00494D;
  font-family: Fira Code;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color ease-in-out;
  cursor:default;
  opacity: 0.7;
}

.single-att:hover {
  opacity: 1;
}

.proj-item-body {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;  
  border-top: 1px solid var(--gray, #00494D);
}

.proj-item-body h2 {
  color: var(--white, #00494D);
  font-family: Fira Code;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  }

.proj-item-body h3 {
  text-align: left;
  color: var(--gray, #00494D);
  font-family: Fira Code;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;  
  }

  .footer {
    width: 100%;
    align-items: flex-start;
    background-color: #FFFFED;
  }

  .footer hr {
    margin-top: 1rem/* 16px */;
    margin-bottom: 1rem/* 16px */;
    border-color: #00494D
  }

  .footer span {
    display: block;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    color: #00494D;
    text-align: center;
  }

  .aboutme-div {
    background-color: #FFFFED;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .aboutme-div p {
    margin-top: 3rem;
    margin-left: 15rem;
    text-align: left;
    width: 50%;
    color: var(--gray, #00494D);
  font-family: Fira Code;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  @media (max-width: 844px) {
    margin-left: 3rem;
    width: 80%
  }

  }

  /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;

}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -45px;
  
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  @media (max-width: 844px) {
    visibility: hidden;
  }
}
